body{
    background: no-repeat center fixed;
    background-image: linear-gradient(to bottom, rgb(0, 0, 225),  rgb(225, 0, 0));
    background-size: cover;
}
.header{
    position: sticky;
    top: 0;
    height: 75px;
    background-color: rgb(225, 225, 0);
    left: 50%;
    margin-top: -10px;
    margin-bottom: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    z-index: 1;
}
.header h1{
  margin: 0;
  position: absolute;
  bottom: 20px;
  left: 5px;
}
.header h3{
    margin: 0;
    position: absolute;
    bottom: 0px;
    left: 5px;
}
.header a{
    position: absolute;
    right: 75%;
    top: 50%;
    transform: translateY(-50%);
}
